<!DOCTYPE html>
<html>
  <head>
    <link href="/style.css" rel="stylesheet"
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>home</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
